@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

@font-face {
  font-family: 'Rubik';
  font-weight: 300; /* Ligera */
  src: url('./fonts/Rubik/static/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400; /* Regular */
  src: url('./fonts/Rubik/static/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500; /* Media */
  src: url('./fonts/Rubik/static/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600; /* SemiBold */
  src: url('./fonts/Rubik/static/Rubik-SemiBold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700; /* Bold */
  src: url('./fonts/Rubik/static/Rubik-Bold.ttf');
}

* {
  box-sizing: border-box;
}
body { 
  margin: 0;
  margin: 0;
  background-color: #fff;
  overflow-x:hidden ;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}


 a{
  text-decoration: none;
 }

h1,h2,h3,h4,h5 {
  color:#22272D;
}

 /**
 CARROUSEL
 
 **/
  .BannerSlideWrapper {
    
    position: relative;
    z-index:1;
  }
 .BannerSlideWrapper .rec-slider-container {
  margin: 0;
}

.BannerSlideWrapper {
  cursor: grab;
}

.BannerSlideWrapper .rec.rec-arrow {
  position: absolute;
  display: none;
  border-radius: 50px;
  background-color: #fff;
  color: red;
  border: none;
  margin-top: 5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.BannerSlideWrapper .rec-pagination {
  display: none;
}

.BannerSlideWrapper .rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}

.BannerSlideWrapper .izuVIe {
  justify-content: flex-start;
  width: 100%;
}

.BannerSlideWrapper .rec-carousel-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ImageBanner {

  transition: 0.3s all;
  margin-right: -3em;
}

.ImageBanner img {
  object-fit: contain;
  user-select: none;
}



